*{
    padding: 0;
    margin: 0;
}

#nav{
    background-color: rgb(44,44,44) !important;
}

.nav-link, .active{
    color: rgb(175,175,175) !important ;
}


a:hover{
    scale: 102%;
   box-shadow: rgb(0,98,165) 0px 5px 5px 5px;
   border-radius: 10px !important;
  
  }



.banner{
    min-height: 100vh;
    width: 100%;
}
    






.carousel-caption{
    bottom: 220px;
}

.carousel-caption h4{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a{
    text-transform: uppercase;
    text-align: none;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;

}

.home{
 min-height: 100vh !important;
 width: 100% !important;
 height: 100px !important;
}